literature/articles/rlhf/A_General_Theoretical_Paradigm_to_Understand_Learning_from_Human_Preferences_Azar_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Deep_reinforcement_learning_from_human_preferences_Paul_Christiano_OpenAI_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Direct_Preference_Optimization-Your_Language_Model_is_Secretly_a_Reward_Model_Rafailov_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/KTO-Model_Alignment_as_Prospect_Theoretic_Optimization_Ethayaragh_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Learning_to_summarize_from_human_feedback_Stiennon_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/ORPO-Monolithic_Preference_Optimization_without_Reference_Model_Hong_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Secrets_of_RLHF_in_Large_Language_Models_Part_I-PPO_Zheng_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Secrets_of_RLHF_in_Large_Language_Models_Part_II-Reward_Modeling_Wang_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/SimPO-Simple_Preference_Optimization_with_a_Reference-Free_Reward_Meng_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Training_a_Helpful_and_Harmless_Assistant_with_Reinforcement_Learning_from_Human_Feedback_Bai_Anthropic_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Training_language_models_to_follow_instructions_with_human_feedback_Ouyang_OpenAI_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/transformers/Transformers_for_Image_Recognition_at_Scale_blog_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/An_Overview_of_Early_Vision_in_InceptionV1_Olah_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Circuits_Curve_Detectors_Olah_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Visualizing_and_Understanding_Convolutional_Networks_Zeller_Courant_Institute_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Zoom_In_An_Introduction_to_Circuits_Olah_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Deep_Inside_Convolutional_Networks-Visualising_Image_Classification_Models_and_Saliency_Maps_Simonyan_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Deep_Neural_Networks_are_Easily_Fooled-High_Confidence_Predictions_for_Unrecognizable_Images_Anh_Nguyen_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Going_deeper_with_convolutions_Szegedy_Google_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Network_Dissection-Quantifying_Interpretability_of_Deep_Visual_Representations_Bau_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Visualizing_Higher-Layer_Features_of_a_Deep_Network_Erhan_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Why_Your_Neural_Network_is_Still_Singular_and_What_You_Can_Do_About_It_Dworakowski_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_autoencoders/Intuitively_Understanding_Variational_Autoencoders_Irhum_Shafkat_TDS.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Blei_Variational_Inference_tutorial_slides_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Automatic_Differentiation_Variational_Inference_Kucukelbir_Columbia_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Automatic_Variational_Inference_in_Stan_Kucukelbir_Columbia_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Variational_Inference-A_Review_for_Statisticians_David_Blei_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/semantic_segmentation/Highly_Accurate_Dichotomous_Image_Segmentation_Qin_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/semantic_segmentation/RCNN_RichFeatureHierarchiesForAccurateObjectDetection.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/llm/Comprehensive_Overview_of_Large_Language_Models_Naveed_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computer_Vision-Algorithms_and_Applications_2nd_Edition_Richard_Szeliski_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture1-overview-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture4-vision-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture10-icl-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture11-peft-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture12-rlhf-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture13-text2img-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture13.5-prompt2prompt-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture14-Vision_Language_Model.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture15-Scaling_Laws.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture2-transformer-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture3-llms-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture5-vit-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture6-gans-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture7-diffusion-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture8-diffusion-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture9-vae-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/liquid_networks/Liquid_Time-constant_Networks_Hasani_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/double_descent/Relational_inductive_biases_deep_learning_and_graph_networks_Bataglia_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/InferenceAndMachineLearningNotes_Deisenroth_ImperialCollege_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Huang-StatMechNeuralNet-Springer21.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/attention/On_the_Relationship_between_Self-Attention_and_Convolutional_Layers_Cordonnier_ICLR_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/mccolloch.logical.calculus.ideas.1943.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Loss_Functions_and_Metrics_in_Deep_Learning_Terven_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Optimization_for_deep_learning-theory_and_algorithms_Sun_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Why_Do_We_Need_Weight_Decay_in_Modern_Deep_Learning_DAngello_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/The_Geometry_of_Concepts_Sparse_Autoencoder_Feature_Structure_Li_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/The_Unreasonable_Ineffectiveness_of_the_Deeper_Layers_Gromov_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/compression/Learning_to_Compress-Local_Rank_and_Information_Compression_in_Deep_Neural_Networks_Patel_Ziv_2024.pdf filter=lfs diff=lfs merge=lfs -text
