literature/articles/rlhf/A_General_Theoretical_Paradigm_to_Understand_Learning_from_Human_Preferences_Azar_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Deep_reinforcement_learning_from_human_preferences_Paul_Christiano_OpenAI_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Direct_Preference_Optimization-Your_Language_Model_is_Secretly_a_Reward_Model_Rafailov_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/KTO-Model_Alignment_as_Prospect_Theoretic_Optimization_Ethayaragh_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Learning_to_summarize_from_human_feedback_Stiennon_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/ORPO-Monolithic_Preference_Optimization_without_Reference_Model_Hong_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Secrets_of_RLHF_in_Large_Language_Models_Part_I-PPO_Zheng_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Secrets_of_RLHF_in_Large_Language_Models_Part_II-Reward_Modeling_Wang_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/SimPO-Simple_Preference_Optimization_with_a_Reference-Free_Reward_Meng_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Training_a_Helpful_and_Harmless_Assistant_with_Reinforcement_Learning_from_Human_Feedback_Bai_Anthropic_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/rlhf/Training_language_models_to_follow_instructions_with_human_feedback_Ouyang_OpenAI_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/transformers/Transformers_for_Image_Recognition_at_Scale_blog_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/An_Overview_of_Early_Vision_in_InceptionV1_Olah_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Circuits_Curve_Detectors_Olah_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Visualizing_and_Understanding_Convolutional_Networks_Zeller_Courant_Institute_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Zoom_In_An_Introduction_to_Circuits_Olah_OpenAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Deep_Inside_Convolutional_Networks-Visualising_Image_Classification_Models_and_Saliency_Maps_Simonyan_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Deep_Neural_Networks_are_Easily_Fooled-High_Confidence_Predictions_for_Unrecognizable_Images_Anh_Nguyen_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Going_deeper_with_convolutions_Szegedy_Google_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Network_Dissection-Quantifying_Interpretability_of_Deep_Visual_Representations_Bau_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Visualizing_Higher-Layer_Features_of_a_Deep_Network_Erhan_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/interpretability/Why_Your_Neural_Network_is_Still_Singular_and_What_You_Can_Do_About_It_Dworakowski_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_autoencoders/Intuitively_Understanding_Variational_Autoencoders_Irhum_Shafkat_TDS.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Blei_Variational_Inference_tutorial_slides_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Automatic_Differentiation_Variational_Inference_Kucukelbir_Columbia_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Automatic_Variational_Inference_in_Stan_Kucukelbir_Columbia_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/variational_inference/Variational_Inference-A_Review_for_Statisticians_David_Blei_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/semantic_segmentation/Highly_Accurate_Dichotomous_Image_Segmentation_Qin_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/semantic_segmentation/RCNN_RichFeatureHierarchiesForAccurateObjectDetection.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/llm/Comprehensive_Overview_of_Large_Language_Models_Naveed_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Computer_Vision-Algorithms_and_Applications_2nd_Edition_Richard_Szeliski_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture1-overview-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture4-vision-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture10-icl-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture11-peft-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture12-rlhf-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture13-text2img-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture13.5-prompt2prompt-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture14-Vision_Language_Model.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture15-Scaling_Laws.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture2-transformer-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture3-llms-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture5-vit-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture6-gans-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture7-diffusion-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture8-diffusion-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/lectures/CMU_GenAI_10-423_2024/lecture9-vae-ink.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/liquid_networks/Liquid_Time-constant_Networks_Hasani_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/double_descent/Relational_inductive_biases_deep_learning_and_graph_networks_Bataglia_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/InferenceAndMachineLearningNotes_Deisenroth_ImperialCollege_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Huang-StatMechNeuralNet-Springer21.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/attention/On_the_Relationship_between_Self-Attention_and_Convolutional_Layers_Cordonnier_ICLR_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/mccolloch.logical.calculus.ideas.1943.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Loss_Functions_and_Metrics_in_Deep_Learning_Terven_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Optimization_for_deep_learning-theory_and_algorithms_Sun_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Why_Do_We_Need_Weight_Decay_in_Modern_Deep_Learning_DAngello_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/The_Geometry_of_Concepts_Sparse_Autoencoder_Feature_Structure_Li_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/The_Unreasonable_Ineffectiveness_of_the_Deeper_Layers_Gromov_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/compression/Learning_to_Compress-Local_Rank_and_Information_Compression_in_Deep_Neural_Networks_Patel_Ziv_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Theory_of_Deep_Learning_Sanjeev_Arora.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/activation/softmax_is_not_enough_for_sharp filter=lfs diff=lfs merge=lfs -text
out-of-distribution_Velickovic_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/activation/softmax_is_not_enough_for_sharp_out-of-distribution_Velickovic_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/grokking/The_Complexity_ filter=lfs diff=lfs merge=lfs -text
Dynamics_of_Grokking_DeMoss_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/grokking/The_Complexity_Dynamics_of_Grokking_DeMoss_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/grokking/Grokking-Generalization_Beyond_Overfitting_on_Small_Algorithmic_Datasets_Power_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/grokking/Towards_Understanding_Grokking-An_Effective_Theory_of_Representation_Learning_Liu_MIT_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/Statistical_mechanics_of_learning_from_examples_1992-seung-somplinsky.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/From_Levintal_to_pathways_to_funnels_Dill_1997.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/Understanding_protein_folding_with_energy_landscape_theory_PlotkinOnuchic_part1.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/Landscape_statistics_of_the_low_autocorrelated_binary_string_problem_Ferreira_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/bryngelson-wolynes-1987-spin-glasses-and-the-statistical-mechanics-of-protein-folding.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/Statistical_Mechanics_of_Deep_Linear_Neural_Networks-The_Back-Propagating_Kernel_Renormalization_Li_Sompolinsky_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/Visualizing_the_Loss_Landscape_of_Neural_Nets_Li_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/representation_learning/The_Platonic_Representation_Hypothesis_Huh_MIT_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/representation_learning/Occams_Razor_for_Self-Supervised_Learning-What_is_Sufficient_to_Learn_Good_Representations_Ibrahim_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/scholkopf2002learning_with_kernels.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/deeplearning_latest_edition.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/UnderstandingDeepLearning_13_10_23_C.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Principles_of_Deep_Learning_Theory_Roberts_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Cross_Entropy_Method_A_Unified_Approach_Rubinstein_Kroese_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Neural_Networks_for_Pattern_Recognition-Bishop_1995.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Mathematical_Introduction_to_Deep_Learning-Methods_Implementations_and_Theory_Jentzen_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/MachineLearning-AProbabilisticPerspective.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Geometric_Deep_Learning_Grids_Groups_Graphs_Geodesics_and_Gauges_Bronstein_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Bishop-Pattern_Recognition_and_Machine_Learning.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/xLSTM-Extended_Long_Short-Term_Memory_Beck_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/iTransformer-Inverted_Transformers_Are_Effective_for_Time_Series_Forecasting_Liu_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/TSMixer-Lightweight_MLP-Mixer_Model_for_Multivariate_Time_Series_Forecasting_Ekambaram_IBM_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/TSMixer-Lightweight_MLP-Mixer_Model_for_Multivariate_Time_Series_Forecasting_Ekambaram_IBM_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/TSMixer-An_All-MLP_Architecture_for_Time_Series_Forecasting_Chen_Google_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/MLP-Mixer-An_all-MLP_Architecture_for_Vision_Tolstikhin_Google_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Lag-Llama-Towards_Foundation_Models_for_Probabilistic_Time_Series_Forecasting_Rasul_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/How_to_Effectively_Forecast_Time_Series_with_Amazon_New_Time_Series_Forecasting_Model_by_Eivind_Kjosbakken_TowardsDataScience.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Exploring_the_Limits_of_Transfer_Learning_with_a_Unified_Text-to-Text_Transformer_Raffel_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Chronos-Learning_the_Language_of_Time_Series_Fatir_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/A_decoder-only_foundation_model_for_time-series_forecasting_Das_Google_April_2024_Preprint.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/A_Time_Series_is_Worth_64_Words-Long-term_Forecasting_with_Transformers_Nie_IBM_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Why_Mamba_was_rejected_recently_at_the_ICLR_by_Joe_Elkhoury_Feb_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba_Explained_The_Gradient.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba_Can_it_replace_Transformers_Vishal_Rajput_Jan_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba-Linear-Time_Sequence_Modeling_with_Selective_State_Spaces_Gu_CMU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/It_is_Raw-Audio_Generation_with_State-Space_Models_Goel_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Hungry_Hungry_Hippos-Towards_Language_Modeling_with_State_Space_Models_Fu_Dao_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/How_to_Train_Your_HiPPO-State_Space_Models_with_Generalized_Orthogonal_Basis_Projections_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/HiPPO-Recurrent_Memory_with_Optimal_Polynomial_Projections_Gu_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Efficiently_Modeling_Long_Sequences_with_Structured_State_Spaces_Gu_Stanford_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Combining_Recurrent_Convolutional_and_Continuous-time_Models_with_Linear_State-Space_Layers_Gu_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/radhakrishnan-aradha-phd-eecs-2023-thesis.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/Predicting_disruptive_instabilities_in_controlled_fusion_plasmas_through_deep_learning_Kates-Harbeck_Harvard_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/Magnetic_control_of_tokamak_plasmas_through_deep_reinforcement_learning_Degrave_DeepMind_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Chronos-Learning_the_Language_of_Time_Series_Ansari_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Unified_Training_of_Universal_Time_Series_Forecasting_Transformers_Woo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_Logical_Caclculus_of_the_Ideas_Immanent_in_Nervous_Activity_McCulloch_and_Pitts_1943.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Autoencoders.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/BNN_tutorial_CILVR.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/CNN-Based_Fusion_Method_for_Feature_Extraction.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/DeepLearning-NowPublishing-Vol7-SIG-039.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Deep_Ensembles-A_Loss_Landscape_Perspective_Fort_GoogleBrain_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Deep_Learning_and_Computational_Physics_LectureNotes_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Dynamic_Neural_Networks-A_Survey_Han_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Faster_R-CNN_Towards_Real-Time_Object_Detection_with_Region_Proposal_Networks.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/FundamentalsOfRNNandLSTMNetwork.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/High-dimensional_dynamics_of_generalization_error_in_neural_networks_Advani_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Learning_Transferable_Visual_Models_From_Natural_Language_Supervision_Radford_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Learning_and_Relearning_in_Boltzmann_Machines_Hinton_Sejnovski_book_chapter.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Mechanism_for_feature_learning_in_neural_networks_and_backpropagation-free_machine_learning_models_science_supplement_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Mechanism_of_feature_learning_in_deep_fully_connected_networks_and_kernel_machines_that_recursively_learn_features_Radhakrishnan_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/One_Pixel_Attack_for_Fooling_Deep_Neural_Networks_Su_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Solving_olympiad_geometry_without_human_demonstrations_Trinh_DeepMind_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/UnderstandingLSTMNetworks-colahsblog.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/WilliamsZipser95RecNets.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Zero-Shot_Learning_and_its_Applications_from_Autonomous_Vehicles_to_COVID-19_Diagnosis-A_Review_Rezael_ULeeds_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/attention/Contextual_Position_Encoding-Learning_to_Count_Whats_Important_Golovneva_Meta_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/ComputationBeyondtheTuringLimit_1995_Siegelmann_Science.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/Efficient_simulations_of_finite_automata_by_neural_nets_Alon_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/Mathematical_theory_of_neural_nets_Sontag_TechReport_1994.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/NIPS-1988-dynamics-of-analog-neural-networks-with-time-delay-Marcus.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/NeuralNetworksandAnalogComputationBeyondTheTuringLimit.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/OnTheComputationalPowerOfNeuralNets_1995_Siegelmann_JComSysSci.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/the_induction_of_dynamical_recognizers_pollack_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/NIPS-1988-dynamics-of-analog-neural-networks-with-time-delay-Marcus.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/NIPS-1993-asynchronous-dynamics-of-continuous-time-neural-networks-Wang-Paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/On_Dynamical_Properties_of_Neural_Networks_Botelho_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/Opening_the_Black_Box-Low-Dimensional_Dynamics_in_High-Dimensional_Recurrent_Neural_Networks_Sussilo_Stanford_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/Period-Doublings_to_Chaos_in_a_Simple_Neural_Network-An_Analytical_Proof_Wang_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/the_induction_of_dynamical_recognizers_pollack_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Embeddings_in_NLP_Pilhevar_book_draft.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Is_Cosine-Similarity_of_Embeddings_Really_About_Similarity_Steck_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Vector_Semantics_and_Embeddings_Jurafsky_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Word-embeddings_and_Word_vector_Herrera_UPC_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Word_Embeddings_Spirling_Rogriguez_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/intro_diapos.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/lecun-ranzato-icml2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/Avoiding_fusion_plasma_tearing_instability_with_deep_reinforcement_learning_Seo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/First_application_of_data_assimilation_based_control_to_fusion_plasma_Morishita_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Mathematical_theory_of_deep_learning_Petersen_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/X-IL-Exploring_the_Design_Space_of_Imitation_Learning_Policies_Jia_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/A_survey_of_robot_learning_from_demonstration_Argail_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/An_Algorithmic_Perspective_on_Imitation_Learning_Osa_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/Behavioral_Cloning_from_Observation_Torabi_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/Learning_Latent_Plans_from_Play_Lynch_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/Visual_Imitation_Made_Easy_Young_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/NIPS-1996-learning-from-demonstration-Paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/imitation_learning/NIPS-1988-alvinn-an-autonomous-land-vehicle-in-a-neural-network-Paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/attention/Eigen_Analysis_of_Self-Attention_and_its_Reconstruction_from_Partial_Computation_Bhojanapali_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Probabilistic_Artificial_Intelligence_Krause_Huebotter_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Minsky-and-Papert-Perceptrons-1969.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Foundations_of_Machine_Learning_Mohri_2012.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/protein_folding/Estimation_of_Effective filter=lfs diff=lfs merge=lfs -text
Interresidue_Contact_Energies_from_Protein_Crystal_Structures-Quasi-Chemical_Approximation_Miyazawa_1987.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/protein_folding/Estimation_of_Effective_Interresidue_Contact_Energies_from_Protein_Crystal_Structures-Quasi-Chemical_Approximation_Miyazawa_1987.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/protein_folding/New_Methods_using_Rigorous_Machine_Learning_for_Coarse-Grained_Protein_Folding_and_Dynamics_Jumper_UChicago_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/protein_folding/Trajectory-based_training_enables_protein_simulations_with_accurate_folding_and_Boltzmann_ensembles_in_cpu-hours_Jumper_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/llm_insights/Layer_by_Layer-Uncovering_Hidden_Representations_in_Language_Models_Skean_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/emergence/Intuitive_physics_understanding_emerges_from_self-supervised_pretraining_on_natural_videos_Garrido_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Layer_by_Layer-Uncovering_Hidden_Representations_in_Language_Models_Skean_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/optimizers/ filter=lfs diff=lfs merge=lfs -text
literature/articles/optimizers/Variational_Stochastic_Gradient_Descent_for_Deep_Neural_Networks_Chen_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/optimizers/Adan-Adaptive_Nesterov_Momentum_Algorithm_for_Faster_Optimizing_Deep_Models_Xie_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/representation_learning/I-Con-A_Unifying_Framework_for_Representation_Learning_Alshammari_MIT_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Patterns_Predictions_and_Actions_Hardt_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/representation_learning/Harnessing_the_Universal_Geometry_of_Embeddings_Jha_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/statistical_mechanics_of_DL/Rate-In-Information-Driven_Adaptive_Dropout_Rates_for_Improved_Inference-Time_Uncertainty_Estimation_Zeevi_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/emergence/From_Colors_to_Classes-Emergence_of_Concepts_in_Vision_Transformers_Dorszewski_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Musings_on_the_Latest_Generative_AI_developments_by_Paul_Thompson.docx filter=lfs diff=lfs merge=lfs -text
literature/articles/torsion/Torsion_in_Persistent_Homology_and_Neural_Networks_Walch_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inductive_bias/the-lack-of-a-priori-distinctions-between-learning-Wolpert_1996.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Brief_Intro_to_Neural_Networks_Kriesel_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/emergence/Leveraging_chaos_in_the_training_of_artificial_neural_networks_Gonzalez_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/AlphaFold-Improved_protein_structure_prediction_using_2_potentials_from_deep_learning_Senior_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/AlphaFold2_and_its_applications_in_the_fields_of_biology_and_medicine_Yang_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Lectures_Neural_Dynamics_Bullo_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/AlphaFold_Meets_Flow_Matching_for_Generating_Protein_Ensembles_Jing_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/Deep_Learning_for_Protein-Ligand_Docking-Are_We_There_Yet_Morehead_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/Evaluating_representation_learning_on_the_protein_structure_universe_Jamash_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/Highly_accurate_protein_structure_prediction_with_AlphaFold_Jumper_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/Prediction-Powered_Inference_Angelopoulos_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/Robust_deep_learning_based_protein_sequence_design_using_ProteinMPNN_Daupras_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaFold/Unfolding_AlphaFolds_Bayesian_Roots_in_Probability_Kinematics_Hammelryck_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/chai_discovery/Chai-Discovery_Zero-shot_antibody_design_in_a_24-well_plate_technical_report_Chai_discovery_team_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/topos_theory/RelativeToposesAGI_part1.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/attention/Log-Linear_Attention_Guo_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Elements_of_Differentiable_Programming_Blondel_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/generalization/Generative_Modeling_of_Weights-Generalization_or_Memorization_Zheng_Princeton_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/SETOL/SETOL-A_Semi-Empirical_Theory_of_Deep_Learning_Martin_2025.pdf filter=lfs diff=lfs merge=lfs -text
