literature/books/Geometric_Deep_Learning_Grids_Groups_Graphs_Geodesics_and_Gauges_Bronstein_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/MachineLearning-AProbabilisticPerspective.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Neural_Networks_for_Pattern_Recognition-Bishop_1995.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/UnderstandingDeepLearning_13_10_23_C.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/deeplearning_latest_edition.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Bishop-Pattern_Recognition_and_Machine_Learning.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Mathematical_Introduction_to_Deep_Learning-Methods_Implementations_and_Theory_Jentzen_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/BNN_tutorial_CILVR.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Zero-Shot_Learning_and_its_Applications_from_Autonomous_Vehicles_to_COVID-19_Diagnosis-A_Review_Rezael_ULeeds_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Solving_olympiad_geometry_without_human_demonstrations_Trinh_DeepMind_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/lecun-ranzato-icml2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/intro_diapos.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/DeepLearning-NowPublishing-Vol7-SIG-039.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/CNN-Based_Fusion_Method_for_Feature_Extraction.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Deep_Ensembles-A_Loss_Landscape_Perspective_Fort_GoogleBrain_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/WilliamsZipser95RecNets.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Faster_R-CNN_Towards_Real-Time_Object_Detection_with_Region_Proposal_Networks.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Learning_Transferable_Visual_Models_From_Natural_Language_Supervision_Radford_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Deep_Learning_and_Computational_Physics_LectureNotes_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Cross_Entropy_Method_A_Unified_Approach_Rubinstein_Kroese_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/Magnetic_control_of_tokamak_plasmas_through_deep_reinforcement_learning_Degrave_DeepMind_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/Predicting_disruptive_instabilities_in_controlled_fusion_plasmas_through_deep_learning_Kates-Harbeck_Harvard_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/First_application_of_data_assimilation‑based_control_to_fusion_plasma_Morishita_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/NeuralNetworksandAnalogComputationBeyondTheTuringLimit.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/ComputationBeyondtheTuringLimit_1995_Siegelmann_Science.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/OnTheComputationalPowerOfNeuralNets_1995_Siegelmann_JComSysSci.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/A_Logical_Caclculus_of_the_Ideas_Immanent_in_Nervous_Activity_McCulloch_and_Pitts_1943.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/Efficient_simulations_of_finite_automata_by_neural_nets_Alon_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Dynamic_Neural_Networks-A_Survey_Han_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/NIPS-1988-dynamics-of-analog-neural-networks-with-time-delay-Marcus.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/Period-Doublings_to_Chaos_in_a_Simple_Neural_Network-An_Analytical_Proof_Wang_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/On_Dynamical_Properties_of_Neural_Networks_Botelho_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/NIPS-1988-dynamics-of-analog-neural-networks-with-time-delay-Marcus.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/Opening_the_Black_Box-Low-Dimensional_Dynamics_in_High-Dimensional_Recurrent_Neural_Networks_Sussilo_Stanford_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/NIPS-1993-asynchronous-dynamics-of-continuous-time-neural-networks-Wang-Paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/the_induction_of_dynamical_recognizers_pollack_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/dynamics_and_stability/the_induction_of_dynamical_recognizers_pollack_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/Mathematical_theory_of_neural_nets_Sontag_TechReport_1994.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/computability/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba-Linear-Time_Sequence_Modeling_with_Selective_State_Spaces_Gu_CMU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Is_Cosine-Similarity_of_Embeddings_Really_About_Similarity_Steck_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Embeddings_in_NLP_Pilhevar_book_draft.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Word-embeddings_and_Word_vector_Herrera_UPC_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Vector_Semantics_and_Embeddings_Jurafsky_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Word_Embeddings_Spirling_Rogriguez_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Mechanism_of_feature_learning_in_deep_fully_connected_networks_and_kernel_machines_that_recursively_learn_features_Radhakrishnan_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/radhakrishnan-aradha-phd-eecs-2023-thesis.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Mechanism_for_feature_learning_in_neural_networks_and_backpropagation-free_machine_learning_models_science_supplement_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Autoencoders.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/scholkopf2002learning_with_kernels.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Learning_and_Relearning_in_Boltzmann_Machines_Hinton_Sejnovski_book_chapter.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Principles_of_Deep_Learning_Theory_Roberts_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Combining_Recurrent_Convolutional_and_Continuous-time_Models_with_Linear_State-Space_Layers_Gu_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba_Explained_The_Gradient.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Efficiently_Modeling_Long_Sequences_with_Structured_State_Spaces_Gu_Stanford_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/HiPPO-Recurrent_Memory_with_Optimal_Polynomial_Projections_Gu_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/How_to_Train_Your_HiPPO-State_Space_Models_with_Generalized_Orthogonal_Basis_Projections_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Hungry_Hungry_Hippos-Towards_Language_Modeling_with_State_Space_Models_Fu_Dao_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/It_is_Raw-Audio_Generation_with_State-Space_Models_Goel_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba-Linear-Time_Sequence_Modeling_with_Selective_State_Spaces_Gu_CMU_2023.pdf.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba_Can_it_replace_Transformers_Vishal_Rajput_Jan_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Why_Mamba_was_rejected_recently_at_the_ICLR_by_Joe_Elkhoury_Feb_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/xLSTM-Extended_Long_Short-Term_Memory_Beck_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/UnderstandingLSTMNetworks-colahsblog.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/FundamentalsOfRNNandLSTMNetwork.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/plasma_control/Avoiding_fusion_plasma_tearing_instability_with_deep_reinforcement_learning_Seo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/A_Time_Series_is_Worth_64_Words-Long-term_Forecasting_with_Transformers_Nie_IBM_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/A_decoder-only_foundation_model_for_time-series_forecasting_Das_Google_April_2024_Preprint.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Chronos-Learning_the_Language_of_Time_Series_Fatir_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Exploring_the_Limits_of_Transfer_Learning_with_a_Unified_Text-to-Text_Transformer_Raffel_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Lag-Llama-Towards_Foundation_Models_for_Probabilistic_Time_Series_Forecasting_Rasul_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/MLP-Mixer-An_all-MLP_Architecture_for_Vision_Tolstikhin_Google_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/TSMixer-An_All-MLP_Architecture_for_Time_Series_Forecasting_Chen_Google_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Unified_Training_of_Universal_Time_Series_Forecasting_Transformers_Woo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/iTransformer-Inverted_Transformers_Are_Effective_for_Time_Series_Forecasting_Liu_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/TSMixer-Lightweight_MLP-Mixer_Model_for_Multivariate_Time_Series_Forecasting_Ekambaram_IBM_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/attention/Contextual_Position_Encoding-Learning_to_Count_Whats_Important_Golovneva_Meta_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/High-dimensional_dynamics_of_generalization_error_in_neural_networks_Advani_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/Chronos-Learning_the_Language_of_Time_Series_Ansari_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/How_to_Effectively_Forecast_Time_Series_with_Amazon_New_Time_Series_Forecasting_Model_by_Eivind_Kjosbakken_TowardsDataScience.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/One_Pixel_Attack_for_Fooling_Deep_Neural_Networks_Su_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/double_descent/Relational_inductive_biases_deep_learning_and_graph_networks_Bataglia_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/double_descent/Reconciling_modern_machine_learning_practice_and_the_bias-variance_trade-off_Belkin_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/time_series_forecasting/N-BEATS-Neural_basis_expansion_analysis_for_interpretable_time_series_forecasting_Oreshkin_ElementAI_2020.pdf filter=lfs diff=lfs merge=lfs -text
